---
import Rankings from '../../../components/Rankings/Rankings.astro'
import ScrollUp from '../../../components/ScrollUp.astro'
import TagCat from '../../../components/Tag/TagCat'
import { TMAP_ENDPOINT } from '../../../constants'
import BaseLayout from '../../../layouts/BaseLayout.astro'
import {
tmap_sections,
type Period,
type SortMetric,
type TreasureMapSection
} from '../../../types'
import fetch_with_handle_redirect from '../../../util/fetch_with_handle_redirect'

// Auth
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

// Params
// login_name
const { login_name } = Astro.params
if (!login_name) {
	return Astro.redirect('/')
}
let page_title = `${login_name}'s Treasure Map`

// section
let section_name = Astro.params.section?.toLowerCase()
if (!section_name || !tmap_sections.map((s) => s.toLowerCase()).includes(section_name)) {
    return Astro.redirect(`/map/${login_name}`)
}

// cats
let cats = ""
let cats_split: string[] = []
if (Astro.url.searchParams.get('cats')) {
	cats = Astro.url.searchParams.get('cats') as string
    cats_split = cats.split(',')

    if (cats.length) {
		page_title += ' (Filtered)'
	}
}
// Encode cats params reserved chars
const encoded_cats = encodeURIComponent(cats)

// period
let period: Period | undefined
if (Astro.url.searchParams.get('period')) {
    period = Astro.url.searchParams.get('period') as Period
}

// nsfw
let nsfw: boolean = false
if (Astro.url.searchParams.get('nsfw') && Astro.url.searchParams.get('nsfw') === 'true') {
	nsfw = true
}

// sort by
let sort_by: SortMetric | undefined
const sort_by_params = Astro.url.searchParams.get('sort_by')
const is_sorted_by_newest = sort_by_params === 'newest'
if (is_sorted_by_newest) {
	sort_by = 'newest'
}
const has_cats_or_nsfw_params = cats || nsfw
const sort_by_params_separator = has_cats_or_nsfw_params ? '&' : '?'

let opposite_sort_search_params = `${cats ? '?cats=' + encoded_cats : ''}${nsfw ? cats ? '&nsfw=true' : '?nsfw=true' : ''}`
if (!is_sorted_by_newest) {
	opposite_sort_search_params += `${sort_by_params_separator}sort_by=newest`
}
const opposite_sort_URL = Astro.url.pathname + opposite_sort_search_params

// page
let page = 1
if (Astro.url.searchParams.get('page')) {
	page = parseInt(Astro.url.searchParams.get('page') as string)
}

// Get Tmap Section
let section_data: TreasureMapSection
let tmap_section_url = TMAP_ENDPOINT + `/${login_name}` + `?section=${section_name}`
if (cats) {
	tmap_section_url += `&cats=${encoded_cats}`
}
if (is_sorted_by_newest) {
    tmap_section_url += `&sort_by=newest`
}
if (nsfw) {
    tmap_section_url += `&nsfw=true`
}
if (page > 1) {
    tmap_section_url += `&page=${page}`
}

const tmap_resp = token
	? await fetch_with_handle_redirect(tmap_section_url, {
			headers: {
				Authorization: `Bearer ${token}`,
			},
		})
	: await fetch_with_handle_redirect(tmap_section_url)
if (!tmap_resp.Response || tmap_resp.RedirectTo) {
	return Astro.redirect(tmap_resp.RedirectTo)
}
section_data = await tmap_resp.Response.json()
const single_tmap_section = section_data.Links

// Display NSFW links count if > 0
const nsfw_links_count = section_data.NSFWLinksCount
---

<BaseLayout Title={page_title}>
	<main>
		<h1>{login_name}</h1>
        <p class="subtitle">({section_name[0].toUpperCase() + section_name.slice(1)})</p>

        <span id="see-all-sections">
            <img src='../../back.svg' height={18} width={18} />
            <a href={`/map/${login_name}${sort_by ? `?sort_by=${sort_by}` : ''}${nsfw ? sort_by ? '&nsfw=true' : '?nsfw=true' : ''}`}>All sections</a>
        </span>

		{/* Config */}
		{single_tmap_section?.length ? <section id='sort-and-filter'>
			<h2>Sort and Filter</h2>

			{/* Sort By */}
			<p id="toggle-sort-by">Sort By: 
				<a href={opposite_sort_URL}>{is_sorted_by_newest ? 'rating' : 'newest'}</a>
			</p>

			{/* NSFW */}
			{nsfw_links_count 
                ? <p id="nsfw-filter">NSFW links ({nsfw_links_count}):
                    <span>
                        {nsfw ? 
                            <a href={`/map/${login_name}/${section_name}${cats ? `?cats=${encoded_cats}` : ''}${sort_by ? cats ? `&sort_by=${sort_by}` : `?sort_by=${sort_by}` : ''}`}>hide</a>
                        : 
                            <a href={`/map/${login_name}/${section_name}${cats ? `?cats=${encoded_cats}` : ''}${sort_by ? cats ? `&sort_by=${sort_by}` : `?sort_by=${sort_by}` : ''}${cats || sort_by ? `&nsfw=true` : '?nsfw=true'}`}>unhide</a>
                        }
                    </span> 
                </p>
                : null}

            

			{/* Cats */}
			{cats ? <div id='cats-filter-container' class="flex">
				<div id="cats-filter-actions">
					<p id="cats-filter">
                        Cats Filter:
                        <span id='clear-cats-filter'>
                        <a href={`/map/${login_name}/${section_name}${sort_by ? `&sort_by=${sort_by}` : ''}${nsfw ? '&nsfw=true' : ''}`}>clear</a>
                        </span>
                        <p id="transfer-to-global-map">
                            <a href={`/search?cats=${encoded_cats}${sort_by ? `&sort_by=${sort_by}` : ''}${nsfw ? sort_by ? '&nsfw=true' : '?nsfw=true' : ''}`}>Transfer cats to Global Treasure Map</a>
                        </p>
                    </p>
				</div>
				<ul id='cat-list'>
					{cats_split.length > 1 ? (
						cats_split.map((cat) => {
							return (
								<TagCat Cat={cat} IsNSFW={cat === 'NSFW'} Fat />
							)
						})
					) : (
						<TagCat Cat={cats_split[0]} IsNSFW={cats_split[0] === 'NSFW'} Fat />
					)}
				</ul>
			</div> : null}
		</section> : null}

		<Rankings
            CatsParams={encoded_cats}
            PeriodParams={period}
            NSFWParams={nsfw}
            SortByParams={sort_by}
            PageParams={page}
            PageCount={section_data.PageCount}
            TopCats={section_data.Cats}
            SingleTmapSection={single_tmap_section}
            SingleTmapSectionName={section_name as typeof tmap_sections[number]}
            IsTmapFromUser={login_name}
            User={user}
            Token={token}
        />

		<ScrollUp />
	</main>
</BaseLayout>

<style>
    h1:has(+ .subtitle) { 
        margin-bottom: 0.5rem; 
    }

    p.subtitle {
        text-align: center;
    }

    span#see-all-sections {
        display: flex;
        align-items: center;
        gap: 5px;
        width: fit-content;
        margin-bottom: 1rem;
    }

    #cats-filter-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;

        #cats-filter-actions {
            margin-right: 1rem;

            #cats-filter {
                margin-top: 1rem;
            }
        }

        #transfer-to-global-map,
        #clear-cats-filter {
            margin: 0;
        }

        #cat-list {
            margin-bottom: 0;
        }
    }

    p#nsfw-filter {
        margin-top: 0;
    }

    ol {
        max-width: calc(100% - 1rem);
        margin: 0;
        margin-top: 0.5rem;
        margin-left: auto;
        padding: 0;
    }

    @media (min-width: 480px) {
		section#sort-and-filter {
			#cats-filter-container {
				flex-direction: row;

				#transfer-to-global-map,
				#clear-cats-filter {
					margin: 0;
				}
				
				#cat-list {
					margin: 0 auto;
					align-content: center;
				}
			}
		}
	}
</style>
