---
import { CATS_PAGE_LIMIT, MIN_LIST_ITEMS_FOR_SCROLLBAR } from '../../constants'
import type { CatCount, Period, SortMetric } from '../../types'
import TagCat from '../Tag/TagCat'

interface Props {
    TopCats: CatCount[]
    CatsParams?: string
    Period?: Period
    SortBy?: SortMetric
    NSFW?: boolean
    More?: boolean
    Mini?: boolean
    IsTmapFromUser?: string
    TmapSection?: "submitted" | "copied" | "tagged"
}

const { TopCats: top_cats, CatsParams: cats_params, Period: period, SortBy: sort_by, NSFW: nsfw, More: more, Mini: mini, IsTmapFromUser: tmap_owner, TmapSection: tmap_section } = Astro.props

let list_classes = more ? ['more'] : tmap_owner ? ['tmap'] : []
if (mini) list_classes.push('mini')
if (!more && top_cats?.length > MIN_LIST_ITEMS_FOR_SCROLLBAR) list_classes.push('scrollable')

const is_subcats = cats_params ? true : false
const has_period = period && period !== 'all'

let endpoint = tmap_owner ? `/map/${tmap_owner}` : "/search"
if (tmap_section) endpoint += `/${tmap_section}`
---

{top_cats?.length ? <div>
    <h2 class={more ? 'more' : ''}>{is_subcats ? 'Top Subcats' : more ? 'More Cats' : 'Top Cats'}</h2>
    <ol id="top-cats" class={list_classes.join(' ')}>
        {
            top_cats.map((cat) => (
                <TagCat 
                    Cat={cat.Category} 
                    Count={cat.Count} 
                    IsNSFW={cat.Category === 'NSFW'} 
                    Href={endpoint + `?cats=${is_subcats ? cats_params + ',' + encodeURIComponent(cat.Category) : encodeURIComponent(cat.Category)}${has_period ? `&period=${period}` : ''}${sort_by && sort_by !== 'rating' ? `&sort_by=newest` : ''}${nsfw || cat.Category === 'NSFW' ? `&nsfw=true` : ''}`}
                 />
            ))
        }
    </ol>
    {top_cats.length === CATS_PAGE_LIMIT ? 
        <span id="to-more">
            <a href={is_subcats ? 
                `/more?cats=${cats_params}${has_period 
                    ? `&period=${period}` 
                    : ''}` 
            : `/more${has_period ? 
                `?period=${period}` 
                : ''}`}>more
            </a>
            <img src='../../back.svg' alt="Go to /more" height={18} width={18} />
        </span> 
    : null}
</div> : is_subcats ? <p id="no-further-cats">No further subcats.</p> : null}

<style>
    div:has(#top-cats) {
        padding-bottom: 1rem;
    }
    
    h2 {
        padding-bottom: 0.5rem;
    }
    
    h2.more {
        margin-top: 0.5rem;
    }

    ol#top-cats {
        padding: 1px 0 2px;
        gap: 3px;
    }

    ol#top-cats.more {
        flex-wrap: wrap;
        max-height: 850px;
    }

    ol#top-cats:has(+ span#to-more) {
        margin-bottom: 0.5rem;
        padding-bottom: 0;
    }

    span#to-more {
        display: block;
        list-style-type: none;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 0.9rem;
        font-weight: bold;

        a {
            /* prevent extended underline */
            display: inline-block;
        }

        img {
            transform: rotate(180deg);
            margin-left: 3px;
            margin-bottom: -5px;
        }
    }

    ol#top-cats.tmap {
        padding-bottom: 0;
    }

    p#no-further-cats {
        margin-top: 0;
        font-weight: bold;
    }

    @media (min-width: 350px) {
        span#to-more {
            font-size: 1rem;
        }
    }
</style>