---
import { MIN_LIST_ITEMS_FOR_SCROLLBAR } from '../../constants'
import type { Contributor } from '../../types'

interface Props {
    Contributors: Contributor[]
    CatsParams?: string
    PeriodParams?: string
    SortByParams?: string
    NSFWParams?: boolean
    URLContainsParams?: string
}
const {
    Contributors: contributors,
    CatsParams: cats,
    PeriodParams: period,
    SortByParams: sort_by,
    NSFWParams: nsfw,
    URLContainsParams: url_contains,
} = Astro.props

let href_suffix = ''
if (cats) {
    href_suffix += `?cats=${cats}`
}

if (period) {
    if (cats) {
        href_suffix += `&period=${period}`
    } else {
        href_suffix += `?period=${period}`
    }
}

if (sort_by) {
    if (period || cats) {
        href_suffix += `&sort_by=${sort_by}`
    } else {
        href_suffix += `?sort_by=${sort_by}`
    }
}

if (nsfw) {
    if (period || cats || sort_by) {
        href_suffix += `&nsfw=${nsfw}`
    } else {
        href_suffix += `?nsfw=${nsfw}`
    }
}

if (url_contains) {
    if (period || cats || sort_by || nsfw) {
        href_suffix += `&url_contains=${url_contains}`
    } else {
        href_suffix += `?url_contains=${url_contains}`
    }
}
---

<div>
    <h2>Top Treasure Hunters</h2>
    <ol id="top-contributors" class={contributors?.length > MIN_LIST_ITEMS_FOR_SCROLLBAR ? 'scrollable' : ''}>
        {contributors.map(
            (c: Contributor) => (
                <li>
                    <strong>
                        <a
                            href={`/map/${c.LoginName}${href_suffix}`}
                        >
                            {c.LoginName}
                        </a>
                    </strong>
                    <span>
                        ({c.LinksSubmitted})
                    </span>
                </li>
            )
        )}
    </ol>
</div>

<style>
    ol#top-contributors {
        padding: 0;
        padding-inline-start: 1rem;

        li {
            height: 16px;
        }
    }

    @media (min-width: 350px) {
        ol#top-contributors {
            max-height: 98px;
        }
    }

    @media (min-width: 680px) {
        ol#top-contributors {
            max-height: 240px;
        }
    }
</style>