---
import { MIN_LIST_ITEMS_FOR_SCROLLBAR } from '../../constants'
import type { Contributor } from '../../types'

interface Props {
    Contributors: Contributor[]
    CatsParams?: string
    PeriodParams?: string
    SortByParams?: string
    NSFWParams?: boolean
    URLContainsParams?: string
}
const {
    Contributors: contributors,
    CatsParams: cats,
    PeriodParams: period,
    SortByParams: sort_by,
    NSFWParams: nsfw,
    URLContainsParams: url_contains,
} = Astro.props

const params = new URLSearchParams()
if (cats) {
    params.set('cats', cats)
}
if (period && period !== 'all') {
    params.set('period', period)
}
if (sort_by && sort_by !== 'rating') {
    params.set('sort_by', sort_by)
}
if (nsfw) {
    params.set('nsfw', 'true')
}
if (url_contains?.length) {
    params.set('url_contains', url_contains)
}

const href_suffix = params.size ? `?${params.toString()}` : ''
---

<div>
    <h2>Top Treasure Hunters</h2>
    <ol id="top-contributors" class={contributors?.length > MIN_LIST_ITEMS_FOR_SCROLLBAR ? 'scrollable' : ''}>
        {contributors.map(
            (c: Contributor) => (
                <li>
                    <strong>
                        <a href={`/map/${c.LoginName}${href_suffix}`}>
                            {c.LoginName}
                        </a>
                    </strong>
                    <span>
                        ({c.LinksSubmitted})
                    </span>
                </li>
            )
        )}
    </ol>
</div>

<style>
    ol#top-contributors {
        padding: 0;
        padding-inline-start: 1rem;

        li {
            height: 16px;
        }
    }

    @media (min-width: 350px) {
        ol#top-contributors {
            max-height: 98px;
        }
    }

    @media (min-width: 680px) {
        ol#top-contributors {
            max-height: 240px;
        }
    }
</style>