---
import { LINKS_PAGE_LIMIT } from '../../constants'
import type { CatCount, Period, SortMetric } from '../../types'

interface Props {
    TopCats: CatCount[]
    CatsParams?: string
    Period?: Period
    SortBy?: SortMetric
    NSFW?: boolean
    More?: boolean
    Mini?: boolean
    IsTmapFromUser?: string
    TmapSection?: "submitted" | "copied" | "tagged"
}

const { TopCats: top_cats, CatsParams: cats_params, Period: period, SortBy: sort_by, NSFW: nsfw, More: more, Mini: mini, IsTmapFromUser: tmap_owner, TmapSection: tmap_section } = Astro.props

let list_classes = more ? 'more' : tmap_owner ? 'tmap' : ''
if (mini) list_classes += ' mini'

const is_subcats = cats_params ? true : false
const has_period = period && period !== 'all'

let endpoint = tmap_owner ? `/map/${tmap_owner}` : "/top"
if (tmap_section) endpoint += `/${tmap_section}`
---

{top_cats.length ? <>
    <h2>Top {is_subcats ? "Subcats" : "Cats"}</h2>
    <ol id="top-cats" class={list_classes}>
        {
            top_cats.map((cat) => (
                <li>
                    <a
                        href={endpoint + `?cats=${is_subcats ? cats_params + ',' + encodeURIComponent(cat.Category) : encodeURIComponent(cat.Category)}${has_period ? `&period=${period}` : ''}${sort_by && sort_by !== 'rating' ? `&sort_by=newest` : ''}${nsfw ? `&nsfw=true` : ''}`}
                    >
                        {cat.Category}
                    </a>
                    <span> ({cat.Count})</span>
                </li>
            ))
        }
        {top_cats.length === LINKS_PAGE_LIMIT ? 
            <li class="to-more">
                <a href={is_subcats ? 
                    `/more?cats=${cats_params}${has_period 
                        ? `&period=${period}` 
                        : ''}` 
                : `/more${has_period ? 
                    `?period=${period}` 
                    : ''}`}>more
                </a>
                <img src='../../back.svg' height={20} width={20} />
            </li> 
        : null}
    </ol>
</> : is_subcats ? <p id="no-further-cats">No further subcats.</p> : null}

<style>
    ol#top-cats {
        li.to-more {
			list-style-type: none;
		}
    }
    ol#top-cats.tmap {
        padding: 0.5rem;
    }

    li.to-more {
        margin-top: 0.5rem;
        font-weight: bold;

        img {
            transform: rotate(180deg);
            margin-left: 3px;
            margin-bottom: -6px;
        }
    }

    p#no-further-cats {
        margin-top: 0;
    }

    @media (min-width: 350px) {
        ol#top-cats.tmap.mini {
            max-height: 150px;
            flex-wrap: wrap;
        }
    }

    @media (min-width: 480px) {
        ol#top-cats {
            flex-wrap: wrap;
            max-height: 250px;
        }
        ol#top-cats.more {
            max-height: 1280px;
        }
        ol#top-cats.tmap {
            max-height: 300px;

            li {
                max-width: initial;
            }
        }
    }
    
    @media (min-width: 680px) {
        ol#top-cats {
            margin-bottom: 0;

            li {
                padding-right: 2rem;
            }
        }
    }

    @media (min-width: 1024px) {
        ol#top-cats.more {
            max-height: 800px;
        }
    }
</style>