---
import { CATS_PAGE_LIMIT, MIN_LIST_ITEMS_FOR_SCROLLBAR } from '../../constants'
import type { CatCount, URLParams, tmap_sections } from '../../types'
import get_cats_url_params from '../Link/util/params'
import TagCat from '../Tag/TagCat'

interface Props {
    TopCats: CatCount[]
    URLParams: URLParams
    More?: boolean
    Mini?: boolean
    SingleTmapSection?: typeof tmap_sections[number]
    IsTmapFromUser?: string
}

const { 
    TopCats: top_cats, 
    URLParams: url_params,
    More: more, 
    Mini: mini, 
    SingleTmapSection: single_tmap_section,
    IsTmapFromUser: tmap_owner, 
} = Astro.props

let top_cats_classes = more ? ['more'] : tmap_owner ? ['tmap'] : []
if (mini) top_cats_classes.push('mini')
if (!more && top_cats?.length > MIN_LIST_ITEMS_FOR_SCROLLBAR) top_cats_classes.push('scrollable')

const has_subcats = url_params.Cats ? true : false

let endpoint = tmap_owner ? `/map/${tmap_owner}` : "/search"
if (single_tmap_section) endpoint += `/${single_tmap_section}`

const cats_url_params = get_cats_url_params(url_params).length 
    ? `&${get_cats_url_params(url_params)}` 
    : ''
---

{top_cats?.length ? <div id="top-cats-container" class={tmap_owner ? 'tmap' : ''}>
    <h2 class={more ? 'more' : ''}>{
        has_subcats 
            ? 'Top Subcats' 
            : more 
                ? 'More Cats' 
                : 'Top Cats'
    }</h2>
    <ol id="top-cats" class={top_cats_classes.join(' ')}>
        {
            top_cats.map((cat) => (
                <TagCat 
                    Cat={cat.Category} 
                    Count={cat.Count} 
                    IsNSFW={cat.Category === 'NSFW'} 
                    Href={`${endpoint}?cats=${cat.Category}${cats_url_params}`}
                    IsMorePage={more}
                 />
            ))
        }
    </ol>
    {top_cats.length === CATS_PAGE_LIMIT ? 
        <span id="to-more">
            <a href={has_subcats 
            ? `/more?cats=${url_params.Cats}${cats_url_params}` 
            : `/more${cats_url_params}`}>more
            </a>
            <img src='../../back.svg' alt="Go to /more" height={18} width={18} />
        </span> 
    : null}
</div> : has_subcats ? <p id="no-further-cats">No further subcats.</p> : null}

<style>
    #top-cats-container {
        padding-bottom: 1rem;
    }

    #top-cats-container.tmap {
        width: 100%;
    }
    
    h2.more {
        margin-top: 0.5rem;
    }

    ol#top-cats {
        padding: 1px 0 0;
        padding-inline-start: 1rem;
        gap: 3px;

        li.cat {
            list-style: unset;
        }

        li.cat::marker {
            font-weight: normal;
        }

        li.cat:last-child {
            padding-bottom: 2px;
        }
    }

    ol#top-cats.more {
        flex-wrap: wrap;
        max-height: 850px;
        overflow-y: hidden;
        overflow-x: scroll;
        padding-bottom: 2px;

        li.cat.more span {
            float: none;
            margin: 0;
        }
    }

    ol#top-cats.tmap {
        padding-bottom: 0;
    }

    ol#top-cats:has(+ span#to-more) {
        margin-bottom: 0.5rem;
        padding-bottom: 0;
    }

    span#to-more {
        display: block;
        list-style-type: none;
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 0.9rem;
        font-weight: bold;

        a {
            /* prevent extended underline */
            display: inline-block;
        }

        img {
            transform: rotate(180deg);
            margin-left: 3px;
            margin-bottom: -5px;
        }
    }

    p#no-further-cats {
        margin-top: 1rem;
        align-self: center;
    }

    @media (min-width: 350px) {
        ol#top-cats {
            max-height: 94px;
        }

        span#to-more {
            font-size: 1rem;
        }
    }

    @media (min-width:680px) {
        ol#top-cats {
            max-height: 284px;
        }
    }
</style>