---
import { LINKS_PAGE_LIMIT } from '../../constants'
import * as types from '../../types'
import Link from '../Link/Link'
import Pagination from '../Pagination.astro'
import NoLinksFound from './NoLinksFound.astro'

interface Props {
    Links?: types.Link[]
    NSFW?: boolean
    Cats?: string
    Period?: types.Period
    SortBy?: types.SortMetric
    Tmap?: types.TreasureMap | types.FilteredTreasureMap
    MultipleTmapSections?: typeof types.tmap_sections[number][]
    SingleTmapSection?: types.TmapLink[]
    SingleTmapSectionName?: typeof types.tmap_sections[number]
    TmapOwner?: string
    Token?: string
    User?: string
    Page?: number
    PageCount?: number

}
const {
	Links: links, 
	NSFW: nsfw, 
	Cats: cats, 
	Period: period, 
	SortBy: sort_by, 
	Page: page, 
	PageCount: page_count,
	Tmap: tmap, 
	MultipleTmapSections: multiple_tmap_sections, 
	SingleTmapSection: single_tmap_section, 
	SingleTmapSectionName: single_tmap_section_name, 
	TmapOwner: tmap_owner_login_name, 
	User: user, 
	Token: token, 
} = Astro.props

const is_only_page = !page || !page_count || (page === 1 && page_count === 1)
---

<>    
    {links?.length ? 
        <ol id='top-links' start={page ? (page - 1) * LINKS_PAGE_LIMIT + 1 : ''}>
        {links?.map((link) => (
            <Link
                client:load
                Link={link}
                Token={token}
                User={user}
            />
        ))}
        </ol>
    : tmap ?
        multiple_tmap_sections?.length ? 
			multiple_tmap_sections.map((s) => {
				const is_section_with_more = tmap.SectionsWithMore?.length && tmap.SectionsWithMore?.includes(s.toLowerCase())

				return (
					<section id={s.toLowerCase()} class='links-section'>
						<div class={is_section_with_more ?"section-with-more" : ""}>
							<h2>{s}</h2>
							{is_section_with_more ? <span class="see-all">
								<a href={`/map/${tmap_owner_login_name}/${s.toLowerCase()}${cats ? `?cats=${cats}` : ''}${sort_by ? cats ? `&sort_by=${sort_by}` : `?sort_by=${sort_by}` : ''}${nsfw ? sort_by ? '&nsfw=true' : '?nsfw=true' : ''}`}>See All</a>
							</span> : null}
							<div class="bg"></div>
						</div>

						<ol>
							{tmap[s].map((link) => (
								<Link
									client:load
									Link={link}
									CatsFromUser={
										link.CatsFromUser
											? tmap_owner_login_name
											: undefined
									}
									IsTmapPage={true}
									Token={token}
									User={user}
								/>
							))}
						</ol>
					</section>
				)
		    })
		: 
            <NoLinksFound />
    : single_tmap_section?.length ?
        <section id={`${single_tmap_section_name?.toLowerCase()}-links`} class='links-section'>
            <ol start={page ? (page - 1) * LINKS_PAGE_LIMIT + 1 : ''}>
                {single_tmap_section.map((link) => (
                    <Link
                        client:load
                        Link={link}
                        IsTmapPage={true}
                        CatsFromUser={
                            link.CatsFromUser
                                ? tmap_owner_login_name
                                : undefined
                        }
                        Token={token}
                        User={user}
                    />
                ))}
            </ol>
        </section>
    :
        <NoLinksFound />
    }

    {is_only_page ? null : <Pagination
        Cats={cats}
        Period={period ?? 'month'}
        SortBy={sort_by}
        HasNSFW={nsfw}
        Page={page ?? 1}
        PageCount={page_count}
        SingleTmapSectionName={single_tmap_section_name}
        TmapOwner={tmap_owner_login_name}
    />}
</>

<style>
    #top-links {
        min-width: fit-content;
        margin: 0 0 0.5rem auto;
        padding: 0;
        padding-inline-start: 1rem;
    }

    #top-links:has(+ nav.pagination) {
        margin-bottom: 0.5rem;
    }

    section.links-section {
		padding: 0;
		border-bottom: none;

		h2 {
			margin-bottom: 0;
		}

		> .section-with-more h2 {
			display: inline
		}

		> div {
			display: flex;
			align-items: center;
			position: sticky;
			top: 0px;
			z-index: 1;
			padding: 1rem 0 0.5rem;

			> .bg {
				z-index: -2;
				background-color: #13151a;
				border-bottom: 2px dashed rgba(255, 255, 255, 0.15);
				position: absolute;
				top: 0;
				left: -0.5rem;
				width: calc(100% + 1rem);
				height: 100%;
			}

			/* here for specificity */
			@media (min-width: 350px) {
				.bg {
					left: -1.5rem;
					width: calc(100% + 3rem);
				}
			}
		}

		> div.section-with-more {
			span.see-all {
				font-size: 0.9rem;
				margin-left: 0.5rem;
			}
		}

		ol {
			max-width: calc(100% - 1rem);
			margin-top: 0;
			margin-bottom: 0.5rem;
			margin-left: auto;
			padding: 0;
		}
	}

    @media (min-width: 450px) {
        #top-links {
            padding-inline-start: 2rem;
        }
    }

	@media (min-width: 680px) {
		section.links-section > div {
			padding-top: 1.5rem;
		}
	}
</style>