---
import TopCats from '../components/Rankings/TopCats.astro'
import TopContributors from '../components/Rankings/TopContributors.astro'
import TopLinks from '../components/Rankings/TopLinks.astro'
import ScrollUp from '../components/ScrollUp.astro'
import { CATS_ENDPOINT, CONTRIBUTORS_ENDPOINT, LINKS_ENDPOINT, TOTALS_ENDPOINT } from '../constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import { Periods, type CatCount, type Contributor, type PaginatedLinks, type Totals } from '../types'
import fetch_with_handle_redirect from '../util/fetch_with_handle_redirect'

// Auth
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

// Get top cats
const top_cats_resp = await (token
	? fetch_with_handle_redirect(CATS_ENDPOINT, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch_with_handle_redirect(CATS_ENDPOINT))
if (!top_cats_resp.Response || top_cats_resp.RedirectTo) {
	return Astro.redirect(top_cats_resp.RedirectTo)
}
const top_cats: CatCount[] = await top_cats_resp.Response?.json()

// Get top contributors
const top_contributors_resp = await fetch_with_handle_redirect(CONTRIBUTORS_ENDPOINT)
if (!top_contributors_resp.Response || top_contributors_resp.RedirectTo) {
	return Astro.redirect(top_contributors_resp.RedirectTo)
}
const top_contributors: Contributor[] = await top_contributors_resp.Response.json()

// Get top links
const DEFAULT_PERIOD = Periods[2] // month
const links_url = LINKS_ENDPOINT + `?period=${DEFAULT_PERIOD}`
const get_links_resp = await (token
	? fetch_with_handle_redirect(links_url, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch_with_handle_redirect(links_url))
if (!get_links_resp.Response || get_links_resp.RedirectTo) {
	return Astro.redirect(get_links_resp.RedirectTo)
}
const data: PaginatedLinks = await get_links_resp.Response.json()
const links = data.Links

const other_periods = links?.length ? Periods.filter((other) => other !== 'month') : ['year', 'all']

// Get totals
const totals_resp = await fetch_with_handle_redirect(TOTALS_ENDPOINT)
if (!totals_resp.Response || totals_resp.RedirectTo) {
	return Astro.redirect(totals_resp.RedirectTo)
}
const totals: Totals = await totals_resp.Response.json()
---

<BaseLayout Title='FITM: share and discover the most treasured links across the web'>
	<main>
			<h1>FITM.online</h1>
			<p id='subtitle'>a map of the web's treasures</p>

			<h3 id="add-link"><a href={`/new`}>Add link</a></h3>

		<section>
			<TopCats TopCats={top_cats} />
		</section>

		<div id="contributors-and-totals-flex-container">
			<TopContributors Contributors={top_contributors} />

			<div id="totals">
				<h2>Stats</h2>
				<p><span class="total">{totals.Links}</span> <span>Links from</span> <span class="total">{totals.Contributors}</span> <span>Contributors</span> <span>with</span> <span class="total">{totals.Clicks}</span> <span>Clicks</span></p>
				<p><span class="total">{totals.Likes}</span> <span>Likes |</span> <span class="total">{totals.Tags}</span> <span>Tags |</span> <span class="total">{totals.Summaries}</span> <span>Summaries</span></p>
			</div>
		</div>

		<section id='top-links'>
			<h2>Top Links This Month</h2>
			<ol id='change-period'>
				{
					other_periods.map((period) => (
						<li class='period'>
							<a href={`/top?period=${period}`}>{period}</a>
						</li>
					))
				}
			</ol>

			{links?.length ? <TopLinks 
				Links={links}
				NextPage={data.NextPage}
				Token={token}
				User={user}
			/> : <p>None :(</p>}
		</section>

		<ScrollUp />
	</main>
</BaseLayout>

<style>
	html:before {
		content: '';
		width: 175px;
		height: 162px;
		position: absolute;
		background-image: url(chest.webp);
		background-size: 175px;
		left: 50%;
		transform: translatex(-50%);
		top: 1em;
		opacity: 25%;
		pointer-events: none;
	}
	h1 {
		margin-bottom: 0.5rem;
	}
	p#subtitle {
		background: hsla(180, 33%, 82%, 0.05);
		padding: 3px;
		margin-bottom: 1rem;
	}
	p#subtitle,
	h3#add-link {
		text-align: center;
	}
	#change-period {
		display: flex;
		list-style: none;
		padding-inline-start: 1rem;
		margin-top: 0;
	}
	h3#add-link,
	ol#change-period {
		a,
		a:visited {
			color: var(--text);
		}
	}

	#contributors-and-totals-flex-container {
		section {
			flex-grow: 1;
		}

		#totals {
			padding: 0.5rem 0 1rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.05);

			p {
				padding-left: 1rem;
			}

			.total {
				font-weight: bold;
				color: var(--sky);
			}

			span:not(.total) {
				opacity: 0.85;
			}
		}

	}

	li.period {
		margin-right: 0.5rem;
	}
	li.period:last-of-type {
		margin-right: 0;
	}
	@media screen and (min-width: 720px) {
		#contributors-and-totals-flex-container {
			display: flex;
			justify-content: space-between;
			#totals {
				display: block;
				padding-top: 1rem;
				text-align: right;
			}
		}
	}
</style>
