---
import MergedResultsNotice from "../components/Rankings/MergedResultsNotice.astro";
import TopCats from "../components/Rankings/TopCats.astro";
import ScrollUp from "../components/ScrollUp.astro";
import SearchFilters from "../components/SearchFilters/Filters";
import { CATS_ENDPOINT } from "../constants";
import BaseLayout from "../layouts/BaseLayout.astro";
import { has_merged_cats_property, Periods, type CatCount, type MorePageCatCountsWithMergedCats, type Period } from "../types";
import fetch_with_handle_redirect from "../util/fetch_with_handle_redirect";

// Params
// period
let period: Period = 'all'
if (
	Astro.url.searchParams.get('period') &&
	(Periods as readonly string[]).includes(
		Astro.url.searchParams.get('period') as Period
	)
) {
	period = Astro.url.searchParams.get('period') as Period
}
// cats
let cats = ""
if (Astro.url.searchParams.get('cats')) {
	cats = Astro.url.searchParams.get('cats') as string
}

// Get (more) top cats
let more_cats_url = CATS_ENDPOINT + "?more=true"
// edit URL params accordingly
// cats
if (cats) {
	more_cats_url += `&cats=${cats}`
}
// period
if (period !== 'all') {
	more_cats_url += `&period=${period}`
}

const counts_resp = await fetch_with_handle_redirect(more_cats_url)
if (!counts_resp.Response || counts_resp.RedirectTo) {
	return Astro.redirect(counts_resp.RedirectTo)
}
const counts: MorePageCatCountsWithMergedCats | CatCount[] = await counts_resp.Response.json()
let top_cats: CatCount[] = []
let merged_cats: string[] | undefined = undefined
if (has_merged_cats_property(counts)) {
	top_cats = counts.Counts
	merged_cats = counts.MergedCats
} else {
	top_cats = counts
}

const page_title = (cats ? `${cats} (More)` : "More")

---

<BaseLayout Title="More">
    <main>
        <h1>{page_title}</h1>

		<SearchFilters 
			client:load 
			InitialPeriod={period}
			InitialCats={cats.length ? cats.split(',') : []}
			Endpoint="/more"
		/>

        {top_cats?.length ? <section>
			{merged_cats && merged_cats.length ? (
				<MergedResultsNotice MergedCats={merged_cats} />
			) : null}
           <TopCats 
				TopCats={top_cats}
				CatsParams={cats}
				Period={period}
				More
		   />
        </section> : cats ? <p>No further subcats.</p> : <p>No links submitted during this period.</p>}
        <ScrollUp />
    </main>
</BaseLayout>