---
import MergedResultsNotice from "../components/Rankings/MergedResultsNotice.astro";
import NoLinksFound from "../components/Rankings/NoLinksFound.astro";
import TopCats from "../components/Rankings/TopCats.astro";
import ScrollUp from "../components/ScrollUp.astro";
import SearchFilters from "../components/SearchFilters/Filters";
import LocalStorageLoader from "../components/SearchFilters/LocalStorageLoader.astro";
import { CATS_ENDPOINT } from "../constants";
import BaseLayout from "../layouts/BaseLayout.astro";
import { has_merged_cats_property, Periods, SortMetrics, type CatCount, type MorePageCatCountsWithMergedCats, type Period, type SortMetric } from "../types";
import fetch_with_handle_redirect from "../util/fetch_with_handle_redirect";

let more_cats_url = CATS_ENDPOINT + "?more=true"

// Params
let cats = ""
let url_contains = ""
let url_lacks = ""
let period: Period = 'all'
let sort_by: SortMetric = 'times_starred'

if (Astro.url.searchParams.get('cats')) {
	cats = Astro.url.searchParams.get('cats') as string
	more_cats_url += `&cats=${cats}`
}
if (Astro.url.searchParams.get('url_contains')) {
	url_contains = Astro.url.searchParams.get('url_contains') as string
	more_cats_url += `&url_contains=${url_contains}`
}
if (Astro.url.searchParams.get('url_lacks')) {
	url_lacks = Astro.url.searchParams.get('url_lacks') as string
	more_cats_url += `&url_lacks=${url_lacks}`
}
if (
	Astro.url.searchParams.get('period') &&
	(Periods as readonly string[]).includes(
		Astro.url.searchParams.get('period') as Period
	)
) {
	period = Astro.url.searchParams.get('period') as Period
	more_cats_url += `&period=${period}`
}
if (
	Astro.url.searchParams.get('sort_by') &&
	(SortMetrics as readonly string[]).includes(
		Astro.url.searchParams.get('sort_by') as SortMetric
	)
) {
	sort_by = Astro.url.searchParams.get('sort_by') as SortMetric
	more_cats_url += `&sort_by=${sort_by}`
}

const url_params = {
	Cats: cats,
	Period: period,
	URLContains: url_contains,
	URLLacks: url_lacks
}

// Cat counts
const counts_resp = await fetch_with_handle_redirect(more_cats_url)
if (!counts_resp.Response || counts_resp.RedirectTo) {
	return Astro.redirect(counts_resp.RedirectTo)
}
const counts: MorePageCatCountsWithMergedCats | CatCount[] = await counts_resp.Response.json()
let top_cats: CatCount[] = []
let merged_cats: string[] | undefined = undefined
if (has_merged_cats_property(counts)) {
	top_cats = counts.Counts
	merged_cats = counts.MergedCats
} else {
	top_cats = counts
}

---

<BaseLayout Title="More">
	<LocalStorageLoader />
    <main>
		<SearchFilters 
			client:load 
			InitialCats={cats.length ? cats.split(',') : []}
			InitialPeriod={period}
			InitialURLContains={url_contains}
			InitialURLLacks={url_lacks}
			InitialSortBy={sort_by}
			Endpoint="/more"
		/>

        {top_cats?.length ? <section>
			{merged_cats && merged_cats.length ? (
				<MergedResultsNotice MergedCats={merged_cats} />
			) : null}
           <TopCats 
				TopCats={top_cats}
				URLParams={url_params}
				More
		   />
        </section> : cats ? <p>No further subcats.</p> : <NoLinksFound />}
        <ScrollUp />
    </main>
</BaseLayout>