---
import TopCats from "../components/Rankings/TopCats.astro";
import ScrollUp from "../components/ScrollUp.astro";
import SearchFilters from "../components/SearchFilters/Filters";
import { CATS_ENDPOINT } from "../constants";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Periods, type CatCount, type Period } from "../types";
import fetch_with_handle_redirect from "../util/fetch_with_handle_redirect";

// Params
// period
let period: Period = 'all'
if (
	Astro.url.searchParams.get('period') &&
	(Periods as readonly string[]).includes(
		Astro.url.searchParams.get('period') as Period
	)
) {
	period = Astro.url.searchParams.get('period') as Period
}
// cats
let cats = ""
if (Astro.url.searchParams.get('cats')) {
	cats = Astro.url.searchParams.get('cats') as string
}

// Get (more) top cats
let more_cats_url = CATS_ENDPOINT + "?more=true"
// edit URL params accordingly
// cats
if (cats) {
	more_cats_url += `&cats=${cats}`
}
// period
if (period !== 'all') {
	more_cats_url += `&period=${period}`
}

const top_cats_resp = await fetch_with_handle_redirect(more_cats_url)
if (!top_cats_resp.Response || top_cats_resp.RedirectTo) {
	return Astro.redirect(top_cats_resp.RedirectTo)
}
const top_cats: CatCount[] = await top_cats_resp.Response.json()

const page_title = (cats ? `${cats} (More)` : "More")

---

<BaseLayout Title="More">
    <main>
        <h1>{page_title}</h1>

		<SearchFilters 
			client:load 
			InitialPeriod={period}
			InitialCats={cats.length ? cats.split(',') : []}
			Endpoint="/more"
		/>

        {top_cats?.length ? <section>
           <TopCats 
				TopCats={top_cats}
				CatsParams={cats}
				Period={period}
				More
		   />
        </section> : cats ? <p>No further subcats.</p> : <p>No cats.</p>}
        <ScrollUp />
    </main>
</BaseLayout>

<style>
    #search-filters {
		div {
			display: flex;
			align-items: center;
		}

		p {
			margin-top: 0;
		}

		a {
			margin-left: 5px;
		}
	}

	:is(li a, li strong:has(a)):has(+ span) {
		display: inline-block;
	}
</style>