---
import NoLinksFound from '../components/Rankings/NoLinksFound.astro'
import Rankings from '../components/Rankings/Rankings.astro'
import SearchFilters from '../components/SearchFilters/Filters'
import LocalStorageLoader from '../components/SearchFilters/LocalStorageLoader.astro'
import { CATS_ENDPOINT, CONTRIBUTORS_ENDPOINT, LINKS_ENDPOINT } from '../constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import {
Periods,
SortMetrics,
type CatCount,
type Contributor,
type PaginatedLinks,
type Period,
type SortMetric,
} from '../types'
import fetch_with_handle_redirect from '../util/fetch_with_handle_redirect'

// Auth
const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

// Params
const params = Astro.url.searchParams
// cats
let cats = ""
if (params.get('cats')) {
	cats = params.get('cats') as string
}


// url contains
let url_contains = ""
if (params.get('url_contains')) {
	url_contains = params.get('url_contains') as string
}

// period
let period: Period = 'all'
if (
	params.get('period') &&
	(Periods as readonly string[]).includes(
		params.get('period') as Period
	)
) {
	period = params.get('period') as Period
}

// sort by
let sort_by: SortMetric = 'rating'
if (
	params.get('sort_by') && (SortMetrics as readonly string[]).includes(
		params.get('sort_by') as SortMetric
	)) {
		sort_by = params.get('sort_by') as SortMetric
	}

// nsfw
let nsfw: boolean = false
if (params.get('nsfw') && params.get('nsfw') === 'true') {
	nsfw = true
}

// page
let page = 1
if (params.get('page')) {
	page = parseInt(params.get('page') as string)
}

// Requests
// links
const links_href_suffix = params.size ? `?${params.toString()}` : ''
let links_url = LINKS_ENDPOINT + links_href_suffix

const get_links_resp = await (token
	? fetch_with_handle_redirect(links_url, {
			headers: { Authorization: `Bearer ${token}` },
		})
	: fetch_with_handle_redirect(links_url))
if (!get_links_resp.Response || get_links_resp.RedirectTo) {
	return Astro.redirect(get_links_resp.RedirectTo)
}
const data: PaginatedLinks = await get_links_resp.Response.json()
const {
	Links: links,
	NSFWLinks: nsfw_links,
	MergedCats: merged_cats,
} = data

if (!links?.length) {
	if (page > 1) {
		const redirect_url = new URL(Astro.url)
		redirect_url.searchParams.delete('page')
		return Astro.redirect(redirect_url)
	}
}

// cats, contributors
let top_cats: CatCount[] = []
let top_subcats: CatCount[] = []
let top_contributors: Contributor[] = []

const params_minus_page = new URLSearchParams()
for (const [key, value] of params.entries()) {
	if (key !== 'page') {
		params_minus_page.set(key, value)
	}
}
const cats_and_contributors_href_suffix = params_minus_page.size 
	? `?${params_minus_page.toString()}` 
	: ''
let cats_url = CATS_ENDPOINT + cats_and_contributors_href_suffix
let contributors_url = CONTRIBUTORS_ENDPOINT + cats_and_contributors_href_suffix

if (cats) {
	const subcats_resp = await fetch_with_handle_redirect(cats_url)
	if (!subcats_resp.Response || subcats_resp.RedirectTo) {
		return Astro.redirect(subcats_resp.RedirectTo)
	}
	top_subcats = await subcats_resp.Response.json()
} else {
	const top_cats_resp = await fetch_with_handle_redirect(cats_url)
	if (!top_cats_resp.Response || top_cats_resp.RedirectTo) {
		return Astro.redirect(top_cats_resp.RedirectTo)
	}
	top_cats = await top_cats_resp.Response.json()
}

const contributors_resp = await fetch_with_handle_redirect(contributors_url)
if (!contributors_resp.Response || contributors_resp.RedirectTo) {
	return Astro.redirect(contributors_resp.RedirectTo)
}
top_contributors = await contributors_resp.Response.json()

// Page title
const cats_separated = cats ? cats.split(',') : []
const has_many_cats = cats_separated.length > 3
const cats_title_text = has_many_cats ? cats_separated.slice(0, 3).join(' + ') + '...' : cats_separated.join(' + ')
const page_title = `${(sort_by !== 'rating' ? " Newest" : " Top Rated")}${cats ? `: ${cats_title_text}` : ''}`

---

<BaseLayout Title={page_title}>
	<LocalStorageLoader />
	<main>
		<SearchFilters 
			client:load 
			InitialCats={cats.length ? cats.split(',') : []}
			InitialPeriod={period}
			InitialURLContains={url_contains}
			InitialSortBy={sort_by}
			InitialNSFW={nsfw}
			NSFWLinks={nsfw_links}
		/>

		{links && links.length ? (
			<Rankings
				Links={links}
				MergedCats={merged_cats}
				NSFWParams={nsfw}
				CatsParams={cats}
				PeriodParams={period}
				SortByParams={sort_by}
				URLContainsParams={url_contains}
				PageParams={page}
				Pages={data.Pages}
				TopCats={cats ? top_subcats : top_cats}
				TopContributors={top_contributors}
				Token={token}
				User={user}
			/>
		) : (
			<NoLinksFound AddSomethingPrompt />
		)}
	</main>
</BaseLayout>
