---
import Link from '../../components/Link/Link'
import EditTag from '../../components/Tag/EditTag'
import TagCat from '../../components/Tag/TagCat'
import { TAGS_ENDPOINT } from '../../constants'
import type { TagPage } from '../../types'
import fetch_with_handle_redirect from '../../util/fetch_with_handle_redirect'
import CSRLastUpdated from '../../components/Tag/CSRLastUpdated'
import BaseLayout from '../../layouts/BaseLayout.astro'

const token = Astro.cookies.get('token')?.value
const user = Astro.cookies.get('user')?.value

const { link_id } = Astro.params
if (!link_id) {
	return Astro.redirect('/404')
}

const tags_url = TAGS_ENDPOINT + `/${link_id}`
const get_tags_resp = await (token
	? fetch_with_handle_redirect(tags_url, {
			headers: {
				Authorization: `Bearer ${token}`,
			},
		})
	: fetch_with_handle_redirect(tags_url))
if (!get_tags_resp.Response || get_tags_resp.RedirectTo) {
	return Astro.redirect(get_tags_resp.RedirectTo)
}
const data: TagPage = await get_tags_resp.Response.json()
const { Link: link, YourTag: your_tag, TagRankings: tags } = data
link.TagCount = tags.length

const page_title = `Tags for ${link.Summary ? link.Summary : link.URL}`
---

<BaseLayout Title={page_title}>
	<script>
		import { assign_login_redirect_handler } from '../../util/login_redirect'
		assign_login_redirect_handler()
	</script>
	<main>
		<section>
			<Link client:load Link={link} IsTagPage={true} Token={token} User={user} />
		</section>

		{
			user ? (
				<EditTag client:load LinkID={link_id} Token={token} YourTag={your_tag} HasOneTag={tags.length === 1} />
			) : (
				<section>
					<p id='login-redirect-link'>
						<a href='/login'>Log in</a> to tag links.
					</p>
				</section>
			)
		}

		{
			tags ? (
				<section>
					<h2>Top Tags</h2>
					<ol id='top-tags'>
						{tags.map((tag, i) => (
							<li class='tag'>
								<ul id='cat-list'>
									{tag.Cats.split(',').map((c) => {
										return <TagCat Cat={c} Fat IsNSFW={c === 'NSFW'} />
									})}
								</ul>
								<p>
									<span class='by'>by </span>
									<a class='submitted-by' href={`/map/${tag.SubmittedBy}`}>
										{tag.SubmittedBy}
									</a>
								</p>
								<CSRLastUpdated client:load LastUpdated={tag.LastUpdated} />
								<label
									for={`lifespan-${i}`}
									title={`This tag has had these cats without changes for ${tag.LifeSpanOverlap.toFixed(2)}% of the link's lifespan on Modeep`}
									class='lifespan-label'
								>
									{tag.LifeSpanOverlap.toFixed(2)}%
								</label>
								<progress
									id={`lifespan-${i}`}
									class='lifespan-bar'
									value={tag.LifeSpanOverlap}
									max='100'
								/>
							</li>
						))}
					</ol>
				</section>
			) : null
		}
	</main>
</BaseLayout>

<style>
	section h2 {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	ol#top-tags {
		padding-inline-start: 0;
		margin: 0;
		margin-bottom: 0.25rem;
	}

	#login-redirect-link {
		margin-top: 1rem;
	}

	.tag:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	label.lifespan-label {
		display: inline-block;
		margin-top: 0.5rem;
	}

	progress {
		accent-color: var(--treasurey-dark);
	}
</style>
